<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Загрузите полифиллы для поддержки старых браузеров -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Загрузите Vue, а затем BootstrapVue -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Загрузите следующее для поддержки BootstrapVueIcons -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container" id="app">
        <div class="navigation-btn">
            <button class="btn" @click="Account = true"> Добавить счет </button>
            <button class="btn" @click="Operation = true"> Добавить операцию</button>
        </div>
        <div class="accounts" v-if="accounts.length > 0">
            <h2>Счета:</h2>
        <ul class="list">
            <li class="list-accounts" v-for="acc in accounts">
                <span>{{ acc }}</span>  &nbsp;

                <button class="btn danger" @click="deleteAccount(idx)">Удалить</button>
            </li>
        </ul>
        </div>
        <div v-else>Добавьте счет</div>

        <div class="operations" v-if="operations.length > 0">
            <h2>Операции:</h2>
        <ul class="list">
            <li class="list-operations" v-for="operation in operations">
                <span>{{ operation }}</span>  &nbsp;

                <button class="btn danger" @click="deleteOperation(idx)">Удалить</button>
            </li>
        </ul>
        </div>
        <div v-else>Добавьте операцию</div>

        <template v-if="Account">
        <div class="add-account-header">
            <slot name="header">
                Введите название счета
            </slot>
          </div>

          <div class="add-account-body">
            <slot name="body">
                <input type="text" v-model="accountValue">
            
              <button class="modal-default-button" @click="addAccount">
                OK
              </button>
            </slot>
            </div>
        </template>

        <template v-if="Operation">
            <div class="add-operation-header">

                <slot name="header">
                    Выберите счет
                </slot>
            </div>
    
            <div class="add-operation-body">
                <select v-model="selectedAccount">
                    <option 
                    v-for="account in accounts" 
                    v-bind:value="account">
                        {{ account }}
                      </option>
                  </select>
            </div>

            <div class="add-operation-header">
                <slot name="header">
                    Выберите категорию
                </slot>
            </div>
    
            <div class="add-operation-body">
                <select v-model="selectedItem">
                    <option 
                    v-for="item in items" 
                    v-bind:value="item">
                        {{ item }}
                      </option>
                  </select>
            </div>

            <div class="add-operation-header">
                <slot name="header">
                    Введите сумму
                </slot>
            </div>
    
            <div class="add-operation-body">
                <slot name="body">
                    <input type="text" v-model="operationValue">
                </slot>
                
            </div>

            <template>
                <div>
                  <label for="example-datepicker">Выберите дату</label>
                  <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                  <p>Значение: '{{ value }}'</p>
                </div>
              </template>

            <button class="modal-default-button" @click="addOperation">
                OK
        </button>
            
        </template>
    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>

</html>

