
    body {
      font-size: 15px;
    background-color: grey;
    color: white;
  }

  table {
      border: 2px solid #42b983;
      border-radius: 3px;
      background-color: #fff;
  }

  th {
      background-color: #42b983;
      color: rgba(255, 255, 255, 0.66);
      cursor: pointer;
      user-select: none;
  }

  td {
      background-color: black;
  }

  th,
  td {
      min-width: 120px;
      padding: 10px 20px;
  }

  th.active {
      color: #fff;
  }

  th.active .arrow {
      opacity: 1;
  }

  .arrow {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: 5px;
      opacity: 0.66;
  }

  .arrow.asc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid orange;
  }

  .arrow.dsc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid orange;
  }

  li {
      list-style-type: none;
      font-size: 14px;
  }

  ul {
      margin-left: 0;
      padding-left: 0;
  }

  .btn {
      margin: 2px;
      background-color: orange;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
  }

  .danger {
      background-color: red;
  }
