h1
	{
	color: gold;
	}
a:link
	{
	color: blue
	}
a:visited
	{
	color: gray
	}
a:hover
	{
	text-decoration:none
	}
	.menu-main
	{
		margin-left: auto;
		margin-right: auto;
		background-color: black; 
		width: 50 %;
		height: 250 px;
	}
	 .menu-main a.Ind
	{
		margin-left: 0;
		margin-right: 33%;
		color: gold;
	}
	 .menu-main a.Calc
	{
		margin-left: 33%;
		color: gold;
	}
	 .menu-main a.Con
	{
		margin-left: 33%;
		color: gold;
	}
	